
#tisch0{
		-fx-background-image: url(/images/JassTeppichGruen.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;    
		-fx-background-radius: 50px;
		

}

#tisch1{
		-fx-background-image: url(/images/JassTeppichRot.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
		-fx-background-radius: 10 10 10 10;

}  

#tisch2{
		-fx-background-image: url(/images/JassTeppichPanda.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
		-fx-background-radius: 10 10 10 10; 
	
}

#messageLabel{
	
	-fx-font-size: 10px ; 
	-fx-text-fill: black; 
	-fx-background-color: lightblue;
	-fx-border-radius: 10 10 10 10; 
    -fx-background-radius: 10 10 10 10; 
    -fx-min-width: 270;
    -fx-min-height:500;
	-fx-max-width: 270;
    -fx-max-height:500;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}


#scoreLabel{
	
	-fx-font-size: 10px ; 
	-fx-text-fill: black; 
	-fx-background-color: lightgrey;
	-fx-border-radius: 10 10 10 10; 
    -fx-background-radius: 10 10 10 10; 
    -fx-min-width: 270;
    -fx-min-height:250;
	-fx-max-width: 270;
    -fx-max-height:250;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
   
}

#scoreLabelTitel{
	
	-fx-font-size: 20px ;
	-fx-font-type: bold;
	-fx-font-weight: bold;
	-fx-text-fill: black; 
	-fx-background-color: white;
	-fx-border-radius: 10 10 10 10; 
    -fx-background-radius: 10 10 10 10; 
    -fx-min-width: 270;
    -fx-min-height:50;
	-fx-max-width: 270;
    -fx-max-height:50;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}


#bottomButton{
	
		-fx-min-width: 70;
    -fx-min-height: 50;
	-fx-max-width: 70;
    -fx-max-height: 50;
	
}

#bottomButtonSuit{
	
	-fx-min-width: 70;
    -fx-min-height: 25;
	-fx-max-width: 70;
    -fx-max-height: 25;
}

#chatField{
	-fx-min-width: 200;
    -fx-min-height: 50;
	-fx-max-width: 200;
    -fx-max-height: 50;
    -fx-font-size: 12px ; 
}

#chatButton{
	-fx-min-width: 70;
    -fx-min-height: 50;
	-fx-max-width: 70;
    -fx-max-height: 50;

}

#background{
	-fx-background-image: url(/images/backgroundLogin.jpg);
}

#gwuenner{
	
	-fx-font-size: 20px ;
	-fx-font-type: bold;
	-fx-font-weight: bold;
	-fx-text-fill: black; 
	-fx-background-color: white;
	-fx-border-radius: 10 10 10 10; 
    -fx-background-radius: 10 10 10 10; 
    -fx-min-width: 150;
    -fx-min-height:20;
    -fx-opacity: 0.5
}



