
#tisch{
		-fx-background-image: url(/images/JassTeppichGruen.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
 		 
}

#tisch2{
		-fx-background-image: url(/images/JassTeppichRot.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
}

#tisch3{
		-fx-background-image: url(/images/JassTeppichPanda.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
}

