
#tisch0{
		-fx-background-image: url(/images/JassTeppichGruen.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
 		 
}

#tisch1{
		-fx-background-image: url(/images/JassTeppichRot.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
}

#tisch2{
		-fx-background-image: url(/images/JassTeppichPanda.jpg);
		-fx-background-repeat: stretch; 
		-fx-background-position: center center; 
		-fx-background-size: 500px;
}

#messageLabel{
	
	-fx-font-size: 10px ; 
	-fx-text-fill: black; 
	-fx-background-color: lightblue;
	-fx-border-radius: 10 10 10 10; 
    -fx-background-radius: 10 10 10 10; 
    -fx-min-width: 270;
    -fx-min-height:600;
	-fx-max-width: 270;
    -fx-max-height:600;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
   
}

#chatField{
	-fx-min-width: 200;
    -fx-min-height: 50;
	-fx-max-width: 200;
    -fx-max-height: 50;
    -fx-font-size: 12px ; 
}

#chatButton{
	-fx-min-width: 70;
    -fx-min-height: 50;
	-fx-max-width: 70;
    -fx-max-height: 50;

}




